<button type="button" class="btn btn-info fa fa-refresh" onclick="location.reload()"></button>
<button type="button" class="btn btn-info" routerLink="/collegues/nouveau">Ajouter un collegue</button>
<div class="row" style="margin-top: 10px">
  <div class="col">
    <input [(ngModel)]="searchText" placeholder="Rechercher un pseudo">
  </div>
</div>

<div class="row">
  <section class="col-4" *ngFor="let col of collegues | filter : searchText">
    <div class="mt-4">
      <app-collegue [collegue]="col"></app-collegue>
    </div>
  </section>
</div>