<div class="container"style="width: 20rem">
    <div class="card-deck" >
        <div class="card border-dark text-center">
            <img class="card-img-top" src="https://blogdev01.files.wordpress.com/2014/01/facebookprofilepic.jpg" alt="Card image cap">
            <p class="card-text mt-3">
                <a class="item">{{collegue.pseudo}}</a>
            </p>
            <p class="card-text">
                <a class="item">{{collegue.score}}</a>
            </p>
            <button type="button" class="btn btn-primary" (click)="quandOnAime()">J'aime</button>
            <button type="button" class="btn btn-danger" (click)="quandOnDeteste()">Je déteste</button>
        </div>
    </div>
</div>